body{
    background-color: #F2EFE9;
    margin: 0;
    padding: 0 15%;
    color: #0F0326;
}


h1{
   
    font-size: 100px;
    color: #904E55;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

h2{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: #904E55;
}